body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
img {
  width: 200px;
}

.nav-link {
  font-size: 25px;
  color: black;
}

.nav-link img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}