<footer class="bg-dark text-white py-5"> 
  <div class="container text-center">
    <h1 class="mb-4"><strong>Subscribe</strong> to our newsletter</h1>
    <form action="/subscribe" class="d-flex justify-content-center" method="POST">
      <div class="input-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="example@example.com" />
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </div>
    </form>
  </div>
</footer>

