<div class="container-profile-pic">
  <div class="text-profile">
    <h2>Hello user: {{username}}</h2>
    <h3>Email: {{email}}</h3>
  </div>
  <img class="profile-image" src="{{profileImageSrc}}" alt="">
</div>