<div class="center-container-error">
  <h1>Oh-oh! Error!</h1>
  <h3>There was an error on the server! Check the console!</h3>
  <br>
  <iframe src="https://giphy.com/embed/3N1cZRYz5eOGc" width="480" height="201" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p><a href="https://giphy.com/gifs/reactiongifs-3N1cZRYz5eOGc"></a></p>
</div>