<div class="container">
  <div class="row flex-row">
    <p>Recipe Page</p>
    {{#each recipes}}
    <div class="col-md-4">
      <br>
      <img src="{{this.thumbnail_url}}" alt="a recipe" class="recipe-photo" />
      <br>
      <h1>
        {{this.name}}
      </h1>
      <h4>Servings:
        {{this.num_servings}}
      </h4>
      <a href="/{{this.id}}">Details</a>
    </div>
    {{/each}}
  </div>  
</div>


<br>
<br>

<footer class="bg-dark text-white py-5">
  <div class="container text-center">
    <h1 class="mb-4"><strong>Subscribe</strong> to our newsletter</h1>
    <form action="" class="d-flex justify-content-center">
      <div class="input-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="example@example.com" />
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </div>
    </form>
  </div>
</footer>