<div class="container">
  <div class="row flex-row">
    <p>Recipe Page</p>
    {{#each recipes}}
    <div class="col-md-4">
      <br>
      <div class="image-container"><img src="{{this.thumbnail_url}}" alt="a recipe" class="recipe-photo-NOT" /></div>
      <br>
      <h1>
        {{this.name}}
      </h1>
      <h4>Servings:
        {{this.num_servings}}
      </h4>
      <a href="/{{this.id}}">Details</a>
    </div>
    {{/each}}
  </div>  
</div>


<br>
<br>

{{> footer}}