<div class="container-subs-ok">
  <div class="text">
    <h1>Welcome to Tastyer Dreamfoods</h1>
  </div>
  <div><img class="tastyer-logo-index" src="/images/cropped-tastyer-logo.png" alt="tastyer logo"></div>
  <div class="link-container">
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Login</a>
  </div>
</div>



